.TR{
  text-align: center;
  font-size: 350%;
  width: 100%;
  color: red;
}
.TB{
  text-align: center;
  font-size: 350%;
  width: 100%;
  color: blue;
}
#word1 , #word2{
  text-align: center;
    font-size: 350%;
  width: 100%;
}

.redb1,.redb2,.redb3{
  padding: 4%;
  font-size: 350%;
  padding: 10px;
  width: 33%;
  background-color: orange;
  border-radius: 40px;
}

.count1,.count2,.count3,.dcount1,.dcount2,.dcount3{
  padding: 4%;
  font-size: 350%;
  margin-top: 10px;
  padding: 10px;
  width: 33%;
  background-color: pink;
  border-radius: 40px;
}

.wwwin{
  padding: 4%;
  font-size: 350%;
  margin-top: 10px;
  padding: 10px;
  width: 99%;
  background-color: pink;
  border-radius: 40px;
}
.stichu,.btichu,.fail,.gfail{
  padding: 4%;
  font-size: 350%;
  margin-top: 10px;
  padding: 10px;
  width: 49.5%;
  background-color: pink;
  border-radius: 40px;
}
/*blue*/
.greb1,.greb2,.greb3{
  padding: 4%;
  font-size: 350%;
  padding: 10px;
  width: 33%;
  background-color: lightgreen;
  border-radius: 40px;
}
.bcount1,.bcount2,.bcount3,.bdcount1,.bdcount2,.bdcount3{
  padding: 4%;
  font-size: 350%;
  margin-top: 10px;
  padding: 10px;
  width: 33%;
  background-color: lightblue;
  border-radius: 40px;
}
.bwwwin{
  padding: 4%;
  font-size: 350%;
  margin-top: 10px;
  padding: 10px;
  width: 99%;
  background-color: lightblue;
  border-radius: 40px;
}
.bstichu,.bbtichu,.bfail,.bgfail{
  padding: 4%;
  font-size: 350%;
  margin-top: 10px;
  padding: 10px;
  width: 49.5%;
  background-color: lightblue;
  border-radius: 40px;
}
.countairA,.countairB{
width: 100%;
text-align: center;
}
/*RENEW*/
.RE{
  padding: 4%;
  font-size: 350%;
  margin-top: 10px;
  padding: 10px;
  width: 99%;
  background-color: #7788aa;
  color: white;
}
.num{
text-align: center;
font-size: 500%;
font-family: "微軟正黑體"
}
#num1{
  color: red;
  font-size: 150%;
}
#num2{
  color: blue;
    font-size: 150%;
}
